<!DOCTYPE html>
<html>
<head>

<!-- your webpage info goes here -->

    <title>Project</title>
	
	<meta name="author" content="AP and CV" />
	<meta name="description" content="" />

<!-- you should always add your stylesheet (css) in the head tag so that it starts loading before the page html is being displayed -->	
	<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}" type="text/css" />
	<script>

		function run(){
			var exp = document.getElementById("expr").value;
			// exp = exp.replace("&", "*", -1);
			exp = exp.split('&').join('*');
			console.log(exp);
			var oReq = new XMLHttpRequest();
			oReq.open("get", 'http://localhost:5000/get_image?expr=' + exp, true );        
			oReq.responseType = "blob";
			oReq.onreadystatechange = function(){
			if (this.readyState == 4 && this.status == 200){

				var img = document.getElementById('robdd');
				var url = window.URL || window.webkitURL;
				img.src = url.createObjectURL(this.response);
				}
			}
			oReq.send();
		}

	</script>
	
</head>
<body>

<!-- webpage content goes here in the body -->

	<div id="page">
		<div id="logo">
			<h1>Project</h1>
		</div>
		
		<div id="content">
			 <fieldset>
        <legend>Input</legend>
        <p>
          <label>Enter the Expression</label>
          <input type = "text"
                 id = "expr"
                 value = "" />
        </p>
        <p>
          <label>Ordering</label>
          <input type = "text"
                  id = "ordering"
                  value = "" />
        </p>
       <button type="submit" value="Submit" onclick="run()">Submit</button>

      </fieldset>
    </form>

    <fieldset>
        <legend>Output</legend>

        <div class="boxed" >
			<img id="robdd">
		</div> 

		 <div class="boxed1">
  			Tree
		</div> 

	</fieldset>

    
		</div>
		<div id="footer">
			<p>
				Summer Project 2017
			</p>
		</div>

	</div>
</body>
</html>