<!DOCTYPE html>
<html>
<head>

<!-- your webpage info goes here -->

    <title>Project</title>
	
	<meta name="author" content="AP and CV" />
	<meta name="description" content="" />

<!-- you should always add your stylesheet (css) in the head tag so that it starts loading before the page html is being displayed -->	
	<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}" type="text/css" />
	
</head>
<body>

<!-- webpage content goes here in the body -->


	<div id="page">
		<div id="logo">
			<h1>Project</h1>
		</div>
		
		<div id="content">
			 
		<fieldset>
        <legend>Tools</legend>
        <p>
          <a href="http://localhost:5000/bdd">Binary Decision Diagram</a> 
        </p>
				<p>
          <a href="http://localhost:5000/bddreorder">Binary Decision Diagram with Reordering</a> 
        </p>
        <p>
          <a href="http://localhost:5000/proplog">Propositional Logic</a>
        </p>
        <p>
          <a href="http://localhost:5000/booleanexpr">Boolean Expression Minimization</a>
        </p>
        <p>
         <a href="http://localhost:5000/truthtabletobool">Truth Table Minimization</a>
        </p>

       
		</fieldset>

	
    
		</div>
		<div id="footer">
			<p>
				Summer Project 2017
			</p>
		</div>

	</div>
</body>
</html>