<!DOCTYPE html>
<html>
<head>

<!-- your webpage info goes here -->

    <title>Project</title>
	
	<meta name="author" content="AP and CV" />
	<meta name="description" content="" />

<!-- you should always add your stylesheet (css) in the head tag so that it starts loading before the page html is being displayed -->	
	<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}" type="text/css" />
	
</head>
<body>

<!-- webpage content goes here in the body -->

	<div id="page">
		<div id="logo">
			<h1>Project</h1>
		</div>
		
		<div id="content">
			 <fieldset>
        <legend>Input</legend>
        <p>
          <label>Text box 1</label>
          <input type = "text"
                 id = "myText1"
                 value = "" />
        </p>
        <p>
          <label>Text box 2</label>
          <input type = "text"
                  id = "myText2"
                  value = "" />
        </p>
       <button type="submit" value="Submit">Submit</button>

      </fieldset>
    </form>

    <fieldset>
        <legend>Output</legend>

        <div class="boxed">
  			Text
		</div> 

		 <div class="boxed1">
  			Text
		</div> 

	</fieldset>

    
		</div>
		<div id="footer">
			<p>
				Summer Project 2017
			</p>
		</div>

	</div>
</body>
</html>